<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>

    <key>CFBundleIdentifier</key>
    <string>io.henrik.launchbar.TemperatureIn</string>

    <key>CFBundleName</key>
    <string>Temperature in...</string>

    <!-- <key>CFBundleShortVersionString</key> -->
    <!-- <value>1.0</value> -->

    <key>CFBundleVersion</key>
    <string>1.1.2</string>

    <key>CFBundleIconFile</key>
    <string>iconTemplate</string>

    <key>LBDebugLogEnabled</key>
    <false />

    <!-- LB stuff -->
    <!-- <key>LSMinimumSystemVersion</key> -->
    <!-- <string>10.9.1</string> -->

    <!-- Per-action keys -->
    <!-- <key>LBTextInputTitle</key> -->
    <!-- <string>Rate</string> -->

    <key>LBScripts</key>
    <dict>
        <key>LBDefaultScript</key>
        <dict>
            <key>LBScriptName</key>
            <string>default.js</string>

            <key>LBRunInBackground</key>
            <false />

            <key>LBRequiresArgument</key>
            <false />

            <key>LBAcceptedArgumentTypes</key>
            <array>
                <string>string</string>
            </array>

            <key>LBReturnsResult</key>
            <true />

            <key>LBReturnType</key>
            <string>string</string>
        </dict>

        <key>LBSuggestionsScript</key>
        <dict>
            <key>LBScriptName</key>
            <string>suggestions.js</string>

            <key>LBRunInBackground</key>
            <true />
        </dict>
    </dict>

    <key>LBDescription</key>
    <dict>
        <key>LBAuthor</key>
        <string>Henrik Lissner</string>

        <key>LBWebsite</key>
        <string>http://v0.io/launchbar</string>

        <key>LBEmail</key>
        <string>contact@henrik.io</string>

        <key>LBTwitter</key>
        <string>@vnought</string>

        <key>LBSummary</key>
        <string>Gets the temperature in a country, at an address or of a preset list of locations.</string>

        <key>LBArgument</key>
        <string>The name of a country/city or an address.</string>

        <key>LBResult</key>
        <string>The temperature at the specified location.</string>

        <key>LBRequirements</key>
        <string>An internet connection</string>

        <key>LBUpdateURL</key>
        <string>https://raw.githubusercontent.com/hlissner/lb6-actions/master/Temperature In.lbaction/Contents/Info.plist</string>

        <key>LBDownloadURL</key>
        <string>http://dl.v0.io/launchbar/Temperature In.lbaction</string>
    </dict>

</dict>
</plist>
