<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIconFile</key>
	<string>com.kapeli.dash</string>
	<key>CFBundleIdentifier</key>
	<string>at.obdev.LaunchBar.action.SearchDash</string>
	<key>CFBundleName</key>
	<string>Search Dash</string>
	<key>LBAssociatedApplication</key>
	<string>com.kapeli.dash</string>
	<key>LBRequiredApplication</key>
	<string>com.kapeli.dash</string>
	<key>CFBundleVersion</key>
	<string>1.1</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2014 Objective Development</string>
	<key>LBDescription</key>
	<dict>
		<key>LBSummary</key>
		<string>This action allows you to quickly search in Dash.</string>
		<key>LBAuthor</key>
		<string>Objective Development</string>
		<key>LBWebsite</key>
		<string>http://www.obdev.at/</string>
		<key>LBTwitter</key>
		<string>@launchbar</string>
		<key>LBRequirements</key>
		<string>Requires Dash.</string>
		<key>LBArgument</key>
		<string>The text to search for.</string>
		<key>LBResult</key>
		<string>Returns a list of matches that open in Dash.</string>
	</dict>
	<key>LBScripts</key>
	<dict>
		<key>LBDefaultScript</key>
		<dict>
			<key>LBAcceptedArgumentTypes</key>
			<array>
				<string>string</string>
			</array>
			<key>LBScriptName</key>
			<string>default.rb</string>
			<key>LBRunInBackground</key>
			<true/>
			<key>LBLiveFeedbackEnabled</key>
			<true/>
			<key>LBRequiresArgument</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
