<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>

    <key>CFBundleIdentifier</key>
    <string>io.henrik.launchbar.ChromeTabs</string>

    <key>CFBundleName</key>
    <string>Chrome Tabs</string>

    <!-- <key>CFBundleShortVersionString</key> -->
    <!-- <value>1.0</value> -->

    <key>CFBundleVersion</key>
    <string>1.3.1</string>

    <key>CFBundleIconFile</key>
    <string>iconTemplate</string>

    <key>LBDebugLogEnabled</key>
    <false />

    <!-- LB stuff -->
    <!-- <key>LSMinimumSystemVersion</key> -->
    <!-- <string>10.9.1</string> -->

    <!-- Per-action keys -->
    <key>LBRequiredApplication</key>
    <string>com.google.Chrome</string>

    <key>LBAssociatedApplication</key>
    <string>com.google.Chrome</string>

    <key>LBScripts</key>
    <dict>
        <key>LBDefaultScript</key>
        <dict>
            <key>LBScriptName</key>
            <string>default.applescript</string>

            <key>LBRequiresArgument</key>
            <false />

            <key>LBReturnsResult</key>
            <true />
        </dict>
    </dict>

    <key>LBDescription</key>
    <dict>
        <key>LBAuthor</key>
        <string>Henrik Lissner</string>

        <key>LBWebsite</key>
        <string>http://v0.io/launchbar</string>

        <key>LBEmail</key>
        <string>contact@henrik.io</string>

        <key>LBTwitter</key>
        <string>@vnought</string>

        <key>LBSummary</key>
        <string>List and search through your google tabs and switch between them. Similar to the Safari Tabs action. Works for Chrome and Chromium.</string>

        <key>LBArgument</key>
        <string>The string to search for (live search)</string>

        <!-- <key>LBResult</key> -->
        <!-- <string></string> -->

        <key>LBRequirements</key>
        <string>Require Google Chrome (or Chromium) to be open</string>

        <key>LBChangelog</key>
        <string>Add auto-update support</string>

        <key>LBUpdateURL</key>
        <string>https://raw.githubusercontent.com/hlissner/lb6-actions/master/Chrome Tabs.lbaction/Contents/Info.plist</string>

        <key>LBDownloadURL</key>
        <string>https://dl.v0.io/lb6/Chrome Tabs.lbaction.zip</string>
    </dict>

</dict>
</plist>
