<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>com.xqz.LaunchBar.Action.VPN</string>
	<key>CFBundleName</key>
	<string>VPN</string>
	<key>CFBundleVersion</key>
	<string>1.1</string>
	<key>LBDescription</key>
	<dict>
		<key>LBAuthor</key>
		<string>lordlycastle</string>

		<key>LBEmail</key>
		<string>lordlycastle@hotmail.com</string>

		<key>LBRequirements</key>
		<string>Shimo, Tunnelblick, or Viscosity</string>

		<key>LBResult</key>
		<string>Imported VPN configurations</string>

		<key>LBSummary</key>
		<string>Connect, or Disconnect to VPNs imported in Shimo, Tunnelblick, or Viscosity. </string>

		<key>LBTwitter</key>
		<string></string>

		<key>LBWebsite</key>
		<string>http://v0.io/launchbar</string>

        <key>LBUpdateURL</key>
        <string>https://raw.githubusercontent.com/hlissner/lb6-actions/master/VPN.lbaction/Contents/Info.plist</string>

        <key>LBDownloadURL</key>
        <string>https://v0.io/dl/launchbar/VPN.lbaction.zip</string>
    </dict>
    <key>LBMinimumLaunchBarVersion</key>
	<integer>6</integer>
	<key>LBRequirements</key>
	<string>Shimo, Tunnelblick, or Viscosity</string>
	<key>LBResult</key>
	<string>Imported VPN configurations</string>
	<key>LBScripts</key>
	<dict>
		<key>LBDefaultScript</key>
		<dict>
			<key>LBKeepWindowActive</key>
			<true/>
			<key>LBResultType</key>
			<string>unknown</string>
			<key>LBReturnsResult</key>
			<true/>
			<key>LBScriptName</key>
			<string>default.scpt</string>
		</dict>
	</dict>
	<key>NSHumanReadableCopyright</key>
	<string>XQZ</string>
</dict>
</plist>
