<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>

    <key>CFBundleIdentifier</key>
    <string>io.henrik.launchbar.CanIUse</string>

    <key>CFBundleName</key>
    <string>Can I Use</string>

    <!-- <key>CFBundleShortVersionString</key> -->
    <!-- <value>1.0</value> -->

    <key>CFBundleVersion</key>
    <string>1.0.1</string>

    <key>CFBundleIconFile</key>
    <string>iconTemplate</string>

    <key>LBDebugLogEnabled</key>
    <false />

    <!-- LB stuff -->
    <!-- <key>LSMinimumSystemVersion</key> -->
    <!-- <string>10.9.1</string> -->

    <!-- Per-action keys -->
    <!-- <key>LBTextInputTitle</key> -->
    <!-- <string>Rate</string> -->

    <key>LBScripts</key>
    <dict>
        <key>LBDefaultScript</key>
        <dict>
            <key>LBScriptName</key>
            <string>default.js</string>

            <key>LBRunInBackground</key>
            <false />

            <key>LBLiveFeedbackEnabled</key>
            <true />

            <key>LBRequiresArgument</key>
            <true />

            <key>LBAcceptedArgumentTypes</key>
            <array>
                <string>string</string>
            </array>

            <key>LBReturnsResult</key>
            <true />
        </dict>
    </dict>

    <key>LBDescription</key>
    <dict>
        <key>LBAuthor</key>
        <string>Henrik Lissner</string>

        <key>LBWebsite</key>
        <string>http://v0.io/launchbar</string>

        <key>LBEmail</key>
        <string>henrik@lissner.net</string>

        <key>LBTwitter</key>
        <string>@vnought</string>

        <key>LBSummary</key>
        <string>Searches CanIUse.com for feature compatibility of browsers</string>

        <key>LBArgument</key>
        <string>What feature to search for</string>

        <key>LBResult</key>
        <string>Opens the relevant feature page in your default browser</string>

        <key>LBRequirements</key>
        <string>An internet connection</string>

        <key>LBChangelog</key>
        <string>Added auto-update support</string>

        <key>LBUpdateURL</key>
        <string>https://raw.githubusercontent.com/hlissner/lb6-actions/master/Can I Use.lbaction/Contents/Info.plist</string>

        <key>LBDownloadURL</key>
        <string>https://dl.v0.io/launchbar/Can I Use.lbaction</string>
    </dict>

</dict>
</plist>
